<%@posts.each do |post|%>
    <div class="d-flex justify-content-center my-2">
        <div class="card w-50">
            <div class="card-header">
                <%= image_tag("https://www.trustedclothes.com/blog/wp-content/uploads/2019/02/anonymous-person-221117.jpg", :alt => "rss feed",size:'50x50') %>
                <%=post.user.name%>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%=link_to post.title, post %></h5>
                <p class="card-text"><%=post.body%></p>
            </div>
        </div>
    </div>
<%end%>
<%if user_signed_in?%>
<div class="d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <%= render 'form',post: @post%>
        </div>
    </div>
</div>
<%end%>
